.wrapper
{
	margin:20 auto 30px;
	width:50%;
	border: 2px solid black ;
	border-style: solid;
	background-color: #d9d9d9;
	

	
}

h3{
	border: 2px solid black ;
	border-style: solid;
	text-align: center;
	padding: 10px;
    margin: 20 auto 20px;
	background-color:white;
  	display: block;
	width:50%;

}
img{
	border: 2px solid black ;
	border-style: solid;
	text-align: center;
	margin:auto;
	width:100px;
	height:100px;
	background-color:white;
	display: block;
}

p{
	/*width:320px;*/
	
	width:50%;
	text-align:center;
	margin:20px auto;
	display: block;

}
button{
	
	margin-top:30px;
	text-align:center;
	display: block;
	margin:auto;
	margin:10 auto 30px;
	border: 2px solid black ;
	padding: 15px 32px;

}
a{
	text-decoration:none;
}
	



